*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------------------------------------------- General Style */
:root {

    /* Base font size for the entire website */
    font-size: 10px;

    /* ------------------------------------------------------------------- Colors */
    /* m = modified */
    /* l = light */
    /* d = dark */

    --color-primary: hsl(232, 15%, 19%);
    --color-primary-m-l: hsl(232, 15%, 19%, 0.55);
    --color-primary-m-d: hsl(232, 15%, 19%, 0.85);

    --color-secondary: rgb(255, 170, 6);
    --color-secondary-m-l: rgb(255, 170, 6, 0.55);
    --color-secondary-m-d: rgb(255, 170, 6, 0.85);

    --color-tertiary: #1a508b;
    --color-tertiary-m-l: hsl(221, 68%, 32%, 0.55);
    --color-tertiary-m-d: hsl(221, 68%, 32%, 0.85);

    --color-quaternary: rgb(231, 231, 230);
    --color-quaternary-m-l: rgb(231, 231, 230, 0.55);
    --color-quaternary-m-d: rgb(231, 231, 230, 0.85);

    /* ------------------------------------------------------------------- Padding */

    --padding-xl: calc(2rem + 6vh) + calc(2rem + 6vw);
    --padding-l: calc(3rem + 4vh) + calc(3rem + 4vw);
    --padding-m: calc(2rem + 2vh) + calc(2rem + 2vw);
    --padding-s: calc(1rem + 1vh) + calc(1rem + 1vw);

    /* ------------------------------------------------------------------- Font size */

    --font-size-l: calc(1.5rem + 2vw);
    --font-size-m: calc(1rem + 1.5vw);
    --font-size-s: calc(1rem + 1vw);
    --font-size-xs: calc(0.5rem + 0.8vw);

    /*  ------------------------------------------------------------------- Font Family */

    --font-family-main: "Fredoka", sans-serif;
    --font-family-sub: "Poppins", sans-serif;
}

body {
    font-family: var(--font-family-sub);
    line-height: 1.5;
}

.container {
    display: grid;
    grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] 1fr [container-end];

    grid-template-rows: repeat(6, min-content);
    background-color: var(--color-primary);
}

a {
    text-decoration: none;
    color: var(--color-quaternary);
}

li {
    list-style: none;
}


/* ------------------------------------------------------------------- Header */
#main-header {
    background-color: var(--color-primary);
    grid-column: center-start / center-end;
    padding: var(--padding-s);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

/* Logo */
.main-header__logo h2 {
    font-size: 3rem;
    color: var(--color-quaternary);
    font-family: var(--font-family-main);    
}
.main-header__logo span {
    color: var(--color-secondary);
}

/* Nav */
.main-header__nav {
    width: 80%;
    z-index: 1;

    display: flex;
    justify-content: space-between;
}

.hamburger {
    z-index: 1;
}

.main-header__nav--links {
    display: flex;
    gap: calc(0.5rem + 1vw);
    align-items: center;
}

.main-header__nav--links a {
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    transition: all 0.25s ease-in-out;
}

.main-header__nav--links a:hover {
    background-color: var(--color-secondary);
}

.main-header__nav--registration {
    display: flex;
    gap: 1rem;
}

.main-header__nav--registration a {
    font-size: 1.5rem;
    padding: 1.5rem 2.5rem;
}

.main-header__nav--registration a:nth-child(2) {
    background-color: var(--color-secondary);
    border-radius: 0.5rem;
}

/* ------------------------------------------------------------------- Hero */
.hero {
    height: 400px;
    color: white;
    background-color: var(--color-tertiary);
    grid-column: center-start / center-end;
}

/* ------------------------------------------------------------------- Feauters */
.feauters {
    height: 400px;
    background-color: var(--color-quaternary);
    grid-column: center-start / center-end;
}

/* ------------------------------------------------------------------- Diversify */
.diversify {
    height: 400px;
    background-color: var(--color-secondary);
    grid-column: center-start / center-end;
}

/* ------------------------------------------------------------------- Testimonials */
.testimonials {
    height: 400px;
    background-color: var(--color-tertiary);
    grid-column: center-start / center-end;
}

/* ------------------------------------------------------------------- Footer */
.footer {
    height: 400px;
    background-color: var(--color-quaternary);
    grid-column: container-start / center-end;
}